body{
    margin: 0;

    background-color: black;
    background-image: url(/assets/main-page.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

span{
    color: white;
    font-size: 20px;
}

.login_signup div{
    margin: 20px 0;
}

.login_signup div i{
    color: #f8f9af;
}

.login_signup div:first-child {
    border-right: 2px solid #f8f9af;
    padding: 0px 22px;
}

.login_signup div:last-child{
    padding: 4px 20px;
}

.login_signup div:first-child i{
    font-size: 40px;
}

.login_signup div:last-child i{
    font-size: 33px;
}

.login_signup{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.popuptext{
    font-size: 20px;
}

.popup {
    position: relative;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup:hover .popuptext {
    display: block;
}

/* The actual popup */
.popup .popuptext {
    display: none;
    background: linear-gradient(#F2D2AB, #B97E37);
    white-space: nowrap;
    color: #F1F2CD;
    text-shadow: 0 0 21px #fff;
    text-align: center;
    border-radius: 30px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
    bottom: -58px;
    right: 5%;
}
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: -46%;
    right: 28%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F2D2AB transparent;
}

.name{
    color: #f8f9af;
    font-size: 100px;
    font-family: Italiana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 0 207px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*.top_drinks::after{
    background-image: url(/assets/more.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.top_drinks{
    box-shadow: 0 0 30px #735a3c;
    margin: 40px;
    border-radius: 25px;
    width: 259px;
    transition: width 0.4s;
    display: flex;
}

.top_drinks:hover{
    width: calc(100% - 80px);
    transition: width 1s;
    background-image: url(/assets/more.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.top_drinks:hover .top_drinks_list{
    animation: slow 1s;
    display: flex;
    opacity: 1;
}

.top_drinks .top_drinks_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    cursor: pointer;
    white-space: nowrap;
}


.top_drinks_name > img{
    width: 115px;
}

.top_drinks .top_drinks_name span{
    color: #f8f9af;
    font-family: Italiana, sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    width: 260px;
    text-align: center;
}

.top_drinks .top_drinks_name i{
    font-size: 80px;
    color: #f8f9af;
}

.scale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 25px;
    cursor: pointer;
}

.scale > * {
    cursor: pointer;
}

.scale span{
    font-size: 25px;
    padding-top: 10px;
}

.scale img{
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.top_drinks_list{
    width: calc(100% - 520px);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding-right: 260px;
}

@keyframes slow {
    0% { opacity: 0; }
    50% { opacity: 0; display: flex}
    100% { opacity: 1; }
}

.menu{
    box-shadow: 0 0 30px #735a3c;
    margin: 40px;
    border-radius: 25px;
    width: 259px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu i{
    color: #f8f9af;
    font-size: 40px;
    margin-right: 15px;
}

.menu span{
    color: #f8f9af;
    font-family: Italiana, sans-serif;
    font-size: 25px;
}

@media only screen and (max-height: 940px) {
    .top_drinks {
        margin: 35px;
        width: 230px;
    }

    .top_drinks .top_drinks_name {
        height: 230px;
    }

    .top_drinks .top_drinks_name span {
        font-size: 20px;
        padding-bottom: 15px;
        width: 230px;
    }

    .top_drinks_name > img {
        width: 100px;
    }

    .top_drinks .top_drinks_name i {
        font-size: 65px;
    }

    .top_drinks_list {
        width: calc(100% - 460px);
        padding-right: 230px;
    }

    .scale {
        margin: 0 15px;
    }

    .scale img {
        width: 140px;
        height: 140px;
    }

    .scale span {
        font-size: 20px;
    }

    .menu {
        margin: 35px;
        width: 230px;
        height: 115px;
    }

    .name {
        font-size: 90px;
    }
}

@media only screen and (max-height: 840px) {
    .top_drinks {
        margin: 35px;
        width: 210px;
    }

    .top_drinks .top_drinks_name {
        height: 210px;
    }

    .top_drinks .top_drinks_name span {
        font-size: 20px;
        padding-bottom: 15px;
        width: 210px;
    }

    .top_drinks_name > img {
        width: 90px;
    }

    .top_drinks .top_drinks_name i {
        font-size: 60px;
    }

    .top_drinks_list {
        width: calc(100% - 420px);
        padding-right: 210px;
    }

    .scale img {
        width: 120px;
        height: 120px;
    }

    .menu {
        margin: 35px;
        width: 210px;
        height: 105px;
    }

    .scale span {
        font-size: 19px;
    }

}

@media only screen and (max-height: 790px) {
    .top_drinks {
        margin: 35px;
        width: 190px;
    }

    .top_drinks .top_drinks_name {
        height: 190px;
    }

    .top_drinks .top_drinks_name span {
        font-size: 20px;
        padding-bottom: 15px;
        width: 190px;
    }

    .top_drinks_name > img {
        width: 90px;
    }

    .top_drinks .top_drinks_name i {
        font-size: 60px;
    }

    .top_drinks_list {
        width: calc(100% - 380px);
        padding-right: 190px;
    }

    .scale img {
        width: 105px;
        height: 105px;
    }

    .menu {
        margin: 35px;
        width: 190px;
        height: 95px;
    }

    .scale span {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1220px) {
    .scale img {
        width: 80px;
        height: 80px;
    }

    .scale span {
        font-size: 14px;
    }

    .name{
        font-size: 80px;
    }
}