.splide__slide {
    height: 20rem;
    display: grid;
    place-items: center;
    border-radius: 13px;
    overflow: hidden;
}

body{
    background: linear-gradient(
            180deg
            , hsl(10, 73%, 2%), hsl(10, 79%, 4%), hsl(10, 83%, 5%), hsl(10, 66%, 2%));
}

*{
    font-size: 20px;
    color: hsl(44, 79%, 89%);
}

.hidden{
    display: none!important;
}

.margin_right{
    margin-right: 10px;
}

.margin_left{
    margin-left: 25px;
}

a{
    text-decoration: none;
}

.no_cocktail_message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px #735a3c;
    border-radius: 20px;
    margin: 30px 20px;
    height: 30vh;
    font-size: 40px;
}

.background_no_photo{
    background-size: contain!important;
    background-repeat: no-repeat;
    background-color: hsl(44, 79%, 89%)!important;
}

img{
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.cocktail_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: hsl(0, 0%, 0%, 0.8);
    padding: 15px 0;
}

.right_side{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 5px;
}

.right_side > div{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 20px;
}

.right_side > div > i{
   margin-right: 10px;
}

.scale_name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 27%;
}

#one{
    margin-bottom: 40px;
}

.spline_title{
    display: block;
    margin: 0 0 15px 0px;
    font-size: 27px;
}

.title{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
    text-transform: uppercase;
    font-family: Italiana, sans-serif;
}

.add_cocktail{
    display: flex;
    margin-right: 15px;
    border-right: 2px solid;
    padding: 3px 15px 3px 0;
}

.add_cocktail > i:last-child{
    margin-top: 9px;
}

.add_cocktail > i:first-child{
    font-size: 30px;
}

.edit_user > i {
    font-size: 30px;
}

.edit_user {
    margin-right: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right_side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm_password{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 0 30px #735a3c;
    border-radius: 20px;
}

label{
    font-size: 27px;
}

.confirm_password_body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_password{
    background: hsl(44, 79%, 89%);
    border: 0;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    margin: 27px 20px 30px 20px;
    color: hsl(10, 83%, 5%);
}

.change_item{
    background: hsl(44, 79%, 89%);
    border: 0;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 20px 25px 20px;
    color: hsl(10, 83%, 5%);
}

.submit_button{
    border-radius: 6px;
    border: none;
    background: hsl(44, 79%, 89%);
    padding: 8px 20px;
    color: hsl(10, 83%, 5%);
}

.wrong_password{
    margin-top: 40px;
    color: #FF5050;
}


